<!--MobileApplicationSwitcher(vanilla)-->

<div class="o-mas-vanilla">
    <div class="c-mas-vanilla-overlay"/>
    <div class="o-mas-vanilla-popup">
        <div class="c-mas-vanilla-header">
            <span class="c-mas-vanilla-header__text">
                Our Site Works Best In A Browser
            </span>
        </div>
        <div class="o-mas-vanilla-links">
            <div class="c-mas-app-link">
                <img
                    alt="Chrome icon"
                    class="c-mas-app-link__icon"
                    src="./icons/chrome.svg"
                />
                <span class="c-mas-app-link__title">Chrome</span>
                <a
                    class="c-mas-app-link__button"
                >
                    Open
                </a>
            </div>
        </div>
    </div>
</div>