.dockerignore
.DS_Store
.eslintcache
.idea
.java-version
.vscode
*.log
*.sublime-workspace
*stylelintcache*
.nvmrc
assets/iconfont
bower_components
build
local*.json
coverage
dist
LoadTest/target
localfiles
meta.json
node_modules
npm-debug.log
npm-shrinkwrap.json
reports
src/client/app/_staricon*
tests_output
tests/e2e/reports
tmp
config/environments/thestar-localhost-local.json
config/environments/*-localhost-local.json

